* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v1694_6168 {
  width: 100%;
  height: 1691px;
  background: rgba(240,244,245,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1709_24533 {
  width: 856px;
  height: 125px;
  background: url("../images/v1709_24533.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 86px;
  left: 292px;
  overflow: hidden;
}
.v1709_24547 {
  width: 200px;
  height: 125px;
  background: url("../images/v1709_24547.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 18px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1709_24548 {
  width: 61px;
  height: 61px;
  background: url("../images/v1709_24548.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v1709_24549 {
  width: 200px;
  height: 46px;
  background: url("../images/v1709_24549.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 4px;
  opacity: 1;
  position: absolute;
  top: 79px;
  left: 0px;
  overflow: hidden;
}
.v1709_24550 {
  width: 159px;
  color: rgba(31,48,61,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v1709_24551 {
  width: 200px;
  color: rgba(182,192,194,1);
  position: absolute;
  top: 25px;
  left: 0px;
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v1710_24657 {
  width: 856px;
  height: 118px;
  background: url("../images/v1710_24657.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 15px;
  opacity: 1;
  position: absolute;
  top: 281px;
  left: 292px;
  overflow: hidden;
}
.v1710_24658 {
  width: 107px;
  color: rgba(182,192,194,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Helvetica Neue;
  font-weight: Medium;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v1710_24659 {
  width: 856px;
  color: rgba(31,48,61,1);
  position: absolute;
  top: 33px;
  left: 0px;
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1710_24660 {
  width: 564px;
  height: 152px;
  background: url("../images/v1710_24660.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 15px;
  opacity: 1;
  position: absolute;
  top: 1159px;
  left: 292px;
  overflow: hidden;
}
.v1710_24661 {
  width: 67px;
  color: rgba(0,0,0,0.30000001192092896);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Helvetica Neue;
  font-weight: Medium;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v1710_24662 {
  width: 564px;
  color: rgba(31,48,61,1);
  position: absolute;
  top: 33px;
  left: 0px;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1710_24663 {
  width: 564px;
  height: 134px;
  background: url("../images/v1710_24663.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 15px;
  opacity: 1;
  position: absolute;
  top: 1341px;
  left: 292px;
  overflow: hidden;
}
.v1710_24664 {
  width: 110px;
  color: rgba(0,0,0,0.30000001192092896);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Helvetica Neue;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1710_24665 {
  width: 564px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 32px;
  left: 0px;
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1710_24666 {
  width: 729px;
  height: 49px;
  background: url("../images/v1710_24666.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 15px;
  opacity: 1;
  position: absolute;
  top: 1505px;
  left: 292px;
  overflow: hidden;
}
.v1710_24667 {
  width: 49px;
  color: rgba(0,0,0,0.30000001192092896);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Helvetica Neue;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1710_24668 {
  width: 729px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 32px;
  left: 0px;
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1709_24510 {
  width: 445px;
  height: 73px;
  background: url("../images/v1709_24510.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 429px;
  left: 292px;
  overflow: hidden;
}
.v1694_6185 {
  width: 114px;
  color: rgba(182,192,194,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Helvetica Neue;
  font-weight: Medium;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v1710_24669 {
  width: 445px;
  height: 17px;
  background: url("../images/v1710_24669.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 14px;
  opacity: 1;
  position: absolute;
  top: 33px;
  left: 0px;
  overflow: hidden;
}
.v1710_24670 {
  width: 77px;
  color: rgba(31,48,61,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1710_24671 {
  width: 354px;
  color: rgba(31,48,61,1);
  position: absolute;
  top: 0px;
  left: 91px;
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1710_24672 {
  width: 381px;
  height: 17px;
  background: url("../images/v1710_24672.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 56px;
  left: 0px;
  overflow: hidden;
}
.v1710_24673 {
  width: 81px;
  color: rgba(31,48,61,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1710_24674 {
  width: 290px;
  color: rgba(31,48,61,1);
  position: absolute;
  top: 0px;
  left: 91px;
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1710_24683 {
  width: 856px;
  height: 597px;
  background: url("../images/v1710_24683.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 15px;
  opacity: 1;
  position: absolute;
  top: 532px;
  left: 292px;
  overflow: hidden;
}
.v1710_24684 {
  width: 114px;
  color: rgba(182,192,194,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Helvetica Neue;
  font-weight: Medium;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v1710_24685 {
  width: 856px;
  height: 128px;
  background: url("../images/v1710_24685.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 33px;
  left: 0px;
  overflow: hidden;
}
.v1710_24686 {
  width: 609px;
  color: rgba(182,192,194,1);
  position: absolute;
  top: 26px;
  left: 247px;
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1710_24687 {
  width: 695px;
  height: 21px;
  background: url("../images/v1710_24687.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1710_24688 {
  width: 427px;
  color: rgba(31,48,61,1);
  position: absolute;
  top: 0px;
  left: 247px;
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v1710_24689 {
  width: 181px;
  height: 21px;
  background: url("../images/v1710_24689.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1710_24690 {
  width: 41px;
  color: rgba(31,48,61,1);
  position: absolute;
  top: 0px;
  left: 32px;
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v1710_24691 {
  width: 41px;
  color: rgba(31,48,61,1);
  position: absolute;
  top: 0px;
  left: 140px;
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v1710_24692 {
  width: 15px;
  background: url("../images/v1710_24692.png");
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 83px;
  border: 1.2000000476837158px solid rgba(31,48,61,1);
}
.v1710_24693 {
  width: 25px;
  color: rgba(31,48,61,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1710_24694 {
  width: 25px;
  color: rgba(31,48,61,1);
  position: absolute;
  top: 0px;
  left: 108px;
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1710_24695 {
  width: 16px;
  height: 16px;
  background: url("../images/v1710_24695.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 679px;
  overflow: hidden;
}
.v1710_24696 {
  width: 16px;
  height: 16px;
  background: rgba(31,48,61,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v1710_24697 {
  width: 9px;
  height: 10px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 8px;
}
.v1710_24698 {
  width: 856px;
  height: 77px;
  background: url("../images/v1710_24698.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 176px;
  left: 0px;
  overflow: hidden;
}
.v1710_24699 {
  width: 609px;
  color: rgba(182,192,194,1);
  position: absolute;
  top: 26px;
  left: 247px;
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1710_24700 {
  width: 665px;
  height: 21px;
  background: url("../images/v1710_24700.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1710_24701 {
  width: 397px;
  color: rgba(31,48,61,1);
  position: absolute;
  top: 0px;
  left: 247px;
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v1710_24702 {
  width: 201px;
  height: 21px;
  background: url("../images/v1710_24702.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1710_24703 {
  width: 41px;
  color: rgba(31,48,61,1);
  position: absolute;
  top: 0px;
  left: 41px;
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v1710_24704 {
  width: 41px;
  color: rgba(31,48,61,1);
  position: absolute;
  top: 0px;
  left: 160px;
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v1710_24705 {
  width: 15px;
  background: rgba(31,48,61,1);
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 92px;
  border: 1.2000000476837158px solid rgba(31,48,61,1);
}
.v1710_24706 {
  width: 34px;
  color: rgba(31,48,61,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1710_24707 {
  width: 36px;
  color: rgba(31,48,61,1);
  position: absolute;
  top: 0px;
  left: 117px;
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1710_24708 {
  width: 16px;
  height: 16px;
  background: url("../images/v1710_24708.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 649px;
  overflow: hidden;
}
.v1710_24709 {
  width: 16px;
  height: 16px;
  background: rgba(31,48,61,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v1710_24710 {
  width: 9px;
  height: 10px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 8px;
}
.v1710_24711 {
  width: 856px;
  height: 77px;
  background: url("../images/v1710_24711.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 268px;
  left: 0px;
  overflow: hidden;
}
.v1710_24712 {
  width: 609px;
  color: rgba(182,192,194,1);
  position: absolute;
  top: 26px;
  left: 247px;
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1710_24713 {
  width: 692px;
  height: 21px;
  background: url("../images/v1710_24713.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1710_24714 {
  width: 424px;
  color: rgba(31,48,61,1);
  position: absolute;
  top: 0px;
  left: 247px;
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v1710_24715 {
  width: 204px;
  height: 21px;
  background: url("../images/v1710_24715.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1710_24716 {
  width: 41px;
  color: rgba(31,48,61,1);
  position: absolute;
  top: 0px;
  left: 43px;
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v1710_24717 {
  width: 41px;
  color: rgba(31,48,61,1);
  position: absolute;
  top: 0px;
  left: 163px;
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v1710_24718 {
  width: 15px;
  background: rgba(31,48,61,1);
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 94px;
  border: 1.2000000476837158px solid rgba(31,48,61,1);
}
.v1710_24719 {
  width: 36px;
  color: rgba(31,48,61,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1710_24720 {
  width: 37px;
  color: rgba(31,48,61,1);
  position: absolute;
  top: 0px;
  left: 119px;
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1710_24721 {
  width: 16px;
  height: 16px;
  background: url("../images/v1710_24721.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 676px;
  overflow: hidden;
}
.v1710_24722 {
  width: 16px;
  height: 16px;
  background: rgba(31,48,61,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v1710_24723 {
  width: 9px;
  height: 10px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 8px;
}
.v1710_24724 {
  width: 856px;
  height: 162px;
  background: url("../images/v1710_24724.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 360px;
  left: 0px;
  overflow: hidden;
}
.v1710_24725 {
  width: 609px;
  color: rgba(182,192,194,1);
  position: absolute;
  top: 26px;
  left: 247px;
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1710_24726 {
  width: 595px;
  height: 21px;
  background: url("../images/v1710_24726.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1710_24727 {
  width: 327px;
  color: rgba(31,48,61,1);
  position: absolute;
  top: 0px;
  left: 247px;
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v1710_24728 {
  width: 199px;
  height: 21px;
  background: url("../images/v1710_24728.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1710_24729 {
  width: 41px;
  color: rgba(31,48,61,1);
  position: absolute;
  top: 0px;
  left: 41px;
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v1710_24730 {
  width: 41px;
  color: rgba(31,48,61,1);
  position: absolute;
  top: 0px;
  left: 158px;
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v1710_24731 {
  width: 15px;
  background: rgba(31,48,61,1);
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 92px;
  border: 1.2000000476837158px solid rgba(31,48,61,1);
}
.v1710_24732 {
  width: 34px;
  color: rgba(31,48,61,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1710_24733 {
  width: 34px;
  color: rgba(31,48,61,1);
  position: absolute;
  top: 0px;
  left: 117px;
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1710_24734 {
  width: 16px;
  height: 16px;
  background: url("../images/v1710_24734.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 579px;
  overflow: hidden;
}
.v1710_24735 {
  width: 16px;
  height: 16px;
  background: rgba(31,48,61,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v1710_24736 {
  width: 9px;
  height: 10px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 8px;
}
.v1710_24737 {
  width: 856px;
  height: 60px;
  background: url("../images/v1710_24737.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 537px;
  left: 0px;
  overflow: hidden;
}
.v1710_24738 {
  width: 609px;
  color: rgba(182,192,194,1);
  position: absolute;
  top: 26px;
  left: 247px;
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1710_24739 {
  width: 508px;
  height: 21px;
  background: url("../images/v1710_24739.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 57px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1710_24740 {
  width: 190px;
  height: 21px;
  background: url("../images/v1710_24740.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1710_24741 {
  width: 41px;
  color: rgba(31,48,61,1);
  position: absolute;
  top: 0px;
  left: 43px;
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v1710_24742 {
  width: 41px;
  color: rgba(31,48,61,1);
  position: absolute;
  top: 0px;
  left: 149px;
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v1710_24743 {
  width: 15px;
  background: rgba(31,48,61,1);
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 94px;
  border: 1.2000000476837158px solid rgba(31,48,61,1);
}
.v1710_24744 {
  width: 36px;
  color: rgba(31,48,61,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1710_24745 {
  width: 23px;
  color: rgba(31,48,61,1);
  position: absolute;
  top: 0px;
  left: 119px;
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1710_24746 {
  width: 318px;
  color: rgba(31,48,61,1);
  position: absolute;
  top: 0px;
  left: 247px;
  font-family: Helvetica Neue;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
